{% extends "base.html.twig" %}

{% block title %}Import{% endblock %}

{% block body %}
    <h1>Importer un fichier CSV</h1>

    <form action="">
        <label for="import">Importer votre fichier</label>
        <input type="file">
        <button>Valider</button>
    </form>


{% endblock %}