{% extends 'base.html.twig' %}

{% block title %}New Person{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="pt-2 pb-4">Ajouter une nouvelle personne</h1>

        {{ include('person/_form.html.twig') }}

        <div class="d-grid gap-2 col-1 mx-auto">
            <a href="{{ path('person_index') }}" class="btn btn-secondary">Back to list</a>
        </div>

    </div>
{% endblock %}
