{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Test WA</h1>
        <a href="{{ path('person_new') }}" class="btn btn-primary">Ajouter une personne</a>
        <a href="{{ path('person_index') }}" class="btn btn-secondary">Visualiser toutes les personnes</a>
    </div>
{% endblock %}