{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue sur la homepage</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit nobis beatae omnis, perferendis placeat tempore, laboriosam delectus dicta quas nemo quibusdam! Quam cum perferendis labore. Natus nemo ut quos suscipit!</p>
    </div>
{% endblock %}